body {
    font-family: "Space Grotesk";
    font-feature-settings: "tnum", "ss01", "ss02", "ss04", "case";
    font-size: 16px;
    color: #000000;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 2em;
}

a.active {
    color: inherit;
    font-weight: 600;
    text-decoration: none;
}

h1 {
    font-size: 2em;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin: 0 20px 0 0;
    padding: 0;
}