html {
    font-family: "Space Grotesk";
    font-feature-settings: "tnum", "ss01", "ss02", "ss04", "case", "liga";
    font-size: 16px;
    color: #000000;
    background-color: #FFFFFF;
}

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}